

{% resource "comments_js/comments.js" %}

{% macro comment_form(values={}, empty=False, hidden=True, prefix="", action="add") %}
    <form id="{{ prefix + values.id }}" class="form {% if hidden %}hidden{% endif %} ytp-form" action="{{ pkg_id }}/comments/{% if values.id %}{{ values.id }}/{% endif %}{{ action }}" method="POST">
        <div class="form-controls">
            <input type="text" class="form-control" name="subject" {% if not empty %}value="{{ values.subject }}" {% endif %} placeholder="{{ _('Subject') }}"/>
            {% set unescaped_content = values.content.split('<br/>') %}
            <textarea name="comment" class="form-control input-block-level" rows="3" placeholder="{{ _('Comment') }}">{% if not empty %}{% for line in unescaped_content %}{{ line | striptags }}{{'\n'}}{% endfor %}{% endif %}</textarea>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ _('Save') }}"/>
            <input type="reset" class="btn" value="{{ _('Reset') }}"/>
        </div>
    </form>
{% endmacro %}



{% set thread = h.get_comment_thread(pkg_name) %}

{% macro comment_thread(thread) %}

    <div class="comment-wrapper">
    {% for comment in thread.comments %}
        <div class="comment">
            <div class="submitted">
              {% if comment.state == 'active' %}
                <div class="btn-group">
                    {% if h.check_access('package_update', {'id': pkg_id }) %}
                      <a class="btn btn-mini" href="/dataset/{{ pkg_id }}/comments/{{ comment.id }}/delete"><i class="icon-trash"></i></a> 
                    {% endif %}

                    {% if userobj and comment.user_id == userobj.id %}
                        <a class="btn btn-mini" onclick="ShowCommentForm('{{ comment.id }}', 'edit')"><i class="icon-pencil"></i></a>
                    {% endif %}
                    {% if userobj %}
                        <a class="btn btn-mini" onclick="ShowCommentForm('{{ comment.id }}', 'reply')"><i class="icon-reply"></i></a>
                    {% endif %}

                </div>
              {% endif %}
            </div>
            <div class="content">
            {% if comment.state != 'deleted' %}
              <div id="content_{{ comment.id }}" class="ytp-content">
                  <h3>{{ comment.subject }}</h3>
                  <span>{{ h.render_datetime(comment.creation_date, "%H:%M - %d/%m/%Y") }} {{  h.linked_user(comment.user_id, 0, 10) }}</span>
                  {% if comment.modified_date %}
                      <br/><span>{{ h.render_datetime(comment.modified_date, "%d.%m.%Y %H:%M") }} {{ _('Modified') }} </span>
                  {% endif %}
                {{ comment.content|safe }}
              </div>
              {{ comment_form(comment, prefix='edit_', action='edit') }}
              {{ comment_form(comment, empty=True, prefix='reply_', action='reply') }}
            {% else %}
                {{ _('This comment was deleted.') }}
            {% endif %}
            </div>
        </div>
            {% if comment.comments | length != 0 %}
                {{ comment_thread(comment) }}
            {% endif %}
    {% endfor %}
    </div>

{% endmacro %}

<section id="comment">
  <h3 id="comments">{{ _('Comments') }}</h3>
  {% if userobj %}
    <form id="new_comment" class="form ytp-form" action="{{ pkg_id }}/comments/add" method="POST">
        <div class="form-controls">
            <input type="text" class="form-control" name="subject" placeholder="{{ _('Subject') }}"/>
            <textarea name="comment" class="form-control input-block-level" rows="3" placeholder="{{ _('Comment') }}"></textarea>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ _('Save') }}"/>
            <input type="reset" class="btn" value="{{ _('Clear') }}"/>
        </div>
    </form>
  {% else %}
    {{ _('Login to comment.') }}
  {% endif %}

  <div class="comment-container">
      {{ comment_thread(thread) }}
  </div>

</section>
